<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hangz.spring.mybatis.mapper.RoleMapper">
  <resultMap id="BaseResultMap" type="com.hangz.spring.mybatis.entity.Role">
    <!--@mbg.generated-->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
  </resultMap>

  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, name, user_id
  </sql>



</mapper>